
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(/font/Raleway-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Heavy'), local('Raleway-Heavy'), url(/font/Raleway-Heavy.ttf) format('ttf');
}

* {
    font-family: 'Raleway', sans-serif;
}
.container fieldset label {
    margin-top: 10px;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a {
    color: white;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    color: #ffb82f;
}
div.navbar.navbar-inverse.navbar-fixed-top {
  background-image: none;
  color:white;
  background-repeat: no-repeat;
  filter: none;
}

.row p {
    margin-top: 10px;
}
table.week-summary {
    display: block;
    margin-bottom: 0;
}

/*td.highlight {
    font-size: 1.2em;
    color: red;
}*/
thead tr {
    background-color: lightgray;
}
table.week-summary th, table.week-summary td {
    width: 150px;
    text-align: center;
}

.subtable thead tr {
    background-color: #EDC;
}
.journal-entry #save {
    display: block;
    width: 200px;
}

footer {
    margin-top: 20px;
    border-top: thin solid lightgray;
    padding-top: 20px;    
}
footer a {
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.hero-unit, body {
    background-color: #FED;
}

a.btn {
    background-image: linear-gradient(#bb6bcc, #936bff);
    color: white;
}

a.btn:hover {
    background-image: linear-gradient(#bb6bcc, #936bff);
    color: white;
    background-color: #936bcc;
}

h2 {
    color: #936bcc;
    text-transform: lowercase;
}

/*ffb82f

936bcc*/