<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thinkbigthings.seebie.android" >
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sleep"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".DailyListingActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SleepSessionNewActivityWithFragment"
            android:label="@string/new_session"
            android:parentActivityName=".DailyListingActivity" >
        </activity>
        <activity
            android:name=".SleepSessionEditActivityWithFragment"
            android:label="@string/edit_sleep_session"
            android:parentActivityName=".DailyDetailActivity" >
        </activity>
        <activity
            android:name=".DailyDetailActivity"
            android:label="@string/details"
            android:parentActivityName=".DailyListingActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".DailyListingActivity" >
        </activity>
    </application>

</manifest>
